<template>
<div class="peminjam-table">
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr> 
      <th scope="col">No</th>
      <th scope="col">Nama</th>  
      <th scope="col">Judul Buku</th>
      <th scope="col">Tanggal Pinjam</th>
      <th scope="col">Tanggal Kembali</th>
      <th scope="col">Tindakan</th>

    </tr>
  </thead>
  <tbody> 
    <tr v-for="peminjam in peminjams" :key="peminjam.id">
    <template v-if="peminjamId === peminjam.id">
      <td>
        <label for="number" class="font-weight-bold">No:</label>
        <div> 
          <input type="text" v-model="peminjam.number" class="form-control" />
        </div>
      </td>
      <td>
        <label for="name" class="font-weight-bold">Nama:</label>
        <div> 
          <input type="text" v-model="peminjam.name" class="form-control" />
        </div>
      </td>
      <td>
        <label for="title" class="font-weight-bold">Judul Buku:</label>
        <div> 
          <input type="text" v-model="peminjam.title" class="form-control" />
        </div>
      </td>
      <td>
        <label for="borrow" class="font-weight-bold">Tanggal Pinjam:</label>
        <div> 
          <input type="text" v-model="peminjam.borrow" class="form-control"  />
        </div>
      </td>
      <td>
        <label for="back" class="font-weight-bold">Tanggal Kembali:</label>
        <div> 
          <input type="text" v-model="peminjam.back" class="form-control"  />
        </div>
      </td>
      <td> 
        <div class="mt-4">
        <button class="btn btn-success" @click="saveEdit(peminjam)">Save</button>
        <button class="btn btn-danger" @click="cancelEdit(peminjam)" >Cancel</button>
        </div>
      </td>
    </template>
    <template v-else>
      <td>{{peminjam.number}}</td>
      <td>{{peminjam.name}}</td>
      <td>{{peminjam.title}}</td>
      <td>{{peminjam.borrow}}</td>
      <td>{{peminjam.back}}</td>
        <div class="text-center">
         <button class="btn btn-primary" @click="editpeminjam(peminjam)">Edit</button>
         <button class="btn btn-danger" @click="deletepeminjam(peminjam.id)">Hapus</button> 
        </div>
    </template>
  </tr>
  </tbody>
</table>
</div>
</template>

<script>
 
  export default {
    name: 'peminjam-table', 
    props: {
      peminjams: Array,
    },
    data() {
      return {
          peminjamId: null,
        }
      },
      methods: {
        editpeminjam(peminjam) { 
          this.data = Object.assign({}, peminjam)
          this.peminjamId = peminjam.id 
          // console.log(this.data);
        },
        saveEdit(peminjam) { 
          let id = this.data.id
          this.$emit('edit-peminjam', id, peminjam)  
          this.peminjamId = null
        },
        cancelEdit(peminjam) { 
          Object.assign(peminjam, this.data)
          this.peminjamId = null;
          // console.log(this.peminjamId);
        },
        deletepeminjam(id){
          this.$emit('delete-peminjam', id)  
        }
      }
  }
</script>

<style scoped> 
</style> 