<template>
  <div class="peminjam-form">
    <form @submit.prevent="submit">
      <div class="form-group">
        <label for="number" class="mb-2">Nomor</label>
        <input type="text" v-model="peminjam.number" class="form-control mb-3" placeholder="Masukan nomor urutan peminjam">
      </div>
      <div class="form-group">
        <label for="name" class="mb-2">Nama</label>
        <input type="text" v-model="peminjam.name" class="form-control mb-3" placeholder="Masukan nama peminjam">
      </div>
      <div class="form-group">
        <label for="title" class="mb-2">Judul Buku</label>
        <input type="text" v-model="peminjam.title" class="form-control mb-3" placeholder="Masukan judul buku">
      </div>
      <div class="form-group">
        <label for="borrow" class="mb-2">Tanggal Pinjam</label>
        <input type="text" v-model="peminjam.borrow" class="form-control mb-3" placeholder="Masukan tanggal pinjam">
      </div>
      <div class="form-group">
        <label for="back" class="mb-2">Tanggal Kembali</label>
        <input type="text" v-model="peminjam.back" class="form-control mb-3" placeholder="Masukan tanggal kembali">
      </div>
      <button type="submit" class="btn btn-primary mr-2">Submit</button>
      <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample">
        Cancel
        </button>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'peminjam-form', 
    data(){
      return {
        peminjam: {
          number: '',
          name: '',
          title: '',
          borrow: '',
          back: ''
        }
      }
    },

    methods: {
      submit() {
        this.$emit('add-peminjam', this.peminjam)
        this.peminjam = {
          number: '',
          name: '',
          title: '',
          borrow: '',
          back: ''
        }
      },
    },
  }
</script>