<template>
  <div id="app">
    <div class="container">
      <h1 class="mb-4">Daftar Peminjam</h1>
      <hr>

      <peminjam-table 
        v-bind:peminjams='peminjams' 
        @edit-peminjam="editpeminjam"
        @delete-peminjam="deletepeminjam"
      />

      <div id="collapseExample">
        <div class="card card-body">
          <h2>Input Data Peminjam</h2>
          <hr>

          <!-- <peminjam-form @add-peminjam="addpeminjam"/> -->
          <peminjam-form @add-peminjam="addpeminjam"/>

        </div>
      </div>
    </div>
  </div>
</template>


<script>

import axios from 'axios';

import PeminjamTable from '@/components/PeminjamTable.vue'
import PeminjamForm from '@/components/PeminjamForm.vue'
export default {
  name: 'App',
  components: {
    PeminjamTable,
    PeminjamForm, 
  },
  data() {
    return {
      peminjams:[
      {
        number: '1',
          name: 'Boruto',
          title: 'Laskar Pelangi',
          borrow: '15/02/2020',
          back: '20/02/2020'
      },
      {
        number: '2',
          name: 'Sakura',
          title: 'Sang Pemimpi',
          borrow: '17/02/2020',
          back: '20/02/2020'
      },
    ],
    }
  },

  created() {
    axios.get('http://localhost:8000/api/peminjams')
      .then(response => {
        this.peminjams = response.data.data
      })
  },

  editPeminjam(id, data) {
  axios.put(`http://localhost:8000/api/peminjams/${id}`, data)
    .then(response => {
      console.log(response.data.data);
      this.peminjams = this.peminjams.map(peminjam => (peminjam.id === id ? data : peminjam))
    })
},

  deletePeminjam(id) {
  axios.delete(`http://localhost:8000/api/customers/${id}`)
    .then(() => {
      const peminjamId = this.peminjams.indexOf(id)
      this.peminjams.splice(peminjamId, 1)
    });
},

  methods: {
    addPeminjam(peminjam) {
      axios.post('http://localhost:8000/api/peminjams', peminjam)
    .then(response => {
      console.log(response);
      this.peminjams = [...this.peminjams, response.data.data]
    })
    },
    editPeminjam(id, data) {
      this.peminjams = this.peminjams.map(function (peminjam) { 
        return peminjam.id === id ? data : peminjam;
      });
    },
    deletePeminjam(id) {
      this.peminjams = this.peminjams.filter(function (peminjam) { 
        return peminjam.id !== id;
      });
    }
  }
}
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>